[Unit]
Description=kadira-rma
[Service]
Type=simple
User=kadira
WorkingDirectory=/home/kadira/kadira-rma
ExecStart=/bin/bash -c "source ../init-shell.sh; ./run.sh"
Restart=on-abort
[Install]
WantedBy=multi-user.target
