[Unit]
Description=kadira-ui
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/kadira-ui
ExecStart=/bin/bash -c "source ../init-shell.sh; ./run.sh"
Restart=on-abort
[Install]
WantedBy=multi-user.target
