[Unit]
Description=kadira-engine
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/kadira-engine
ExecStart=/bin/bash -c "source ../init-shell.sh; ./run.sh"
Restart=on-abort
[Install]
WantedBy=multi-user.target

